[user]
	name = Julien PETOT
	signingkey = E94BAF17F75900F10D6E61532B30985989A3D923
        email = 48205834+jpetot@users.noreply.github.com

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD
	go = checkout -b
	b = branch -v
	log = lg
[pull]
    rebase = true
[core]
	editor = vim
	excludesfile = /Users/julien/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[rerere]
	enabled = true

[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[gpg]
	program = gpg
[credential]
	helper = cache --timeout=1800
[merge]
	conflictstyle = diff3
[init]
	defaultBranch = main
